body{
color: #323537;
/* padding:0 2rem 0 2rem; */
}
#header{
    /* border: 1px solid red; */
    width: 85%;
    margin-left: 7%;
    height: 4rem;
    background-color:white;
    border-bottom: 1px solid rgb(180, 178, 178);


 }
#logo img{
    justify-content: center;
    display: flex;
    margin-left: 1rem;
    height:3rem;
    width: 10%;
    /* border: 1px solid black; */
 
}
 