{% extends './header.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div id="container">
    {% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div id="content">
        <h2>Log in and start sharing</h2>
    </div>
    <form id="form" action=""  method="POST">
        <h1></h1>
      {% csrf_token %}
        {{form|crispy}}
      <div id="button">
        <button type="submit">Log In </button>
      </div>
    </form>
    <div id="loginLink">
      <small class="text-muted">Don't have an account?
        <a href="{% url 'SignUp'%}" class="ml-2">Sign Up</a>
      </small>
    </div>
</div>
{% endblock content %}